*{
    margin:0;
    padding:0;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#kepala{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}
#kepala p {
    font-size: 20px;
    margin-bottom: 20px;
}
#gambar{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 150px;
    margin-bottom: 20px;
}
#gambar img{
    width: 300px;
    height: 300px;
}
#gambar1{
    border-radius: 150px;
    position: absolute;
    left:0;
    opacity: 0;
}
#gambar2.muncul{
    animation: muncultengah 1s;
}
#gambar1.muncul{
    animation: munculkiri 1s;
}
#gambar3{
    border-radius: 150px;
    position: absolute;
    right:0;
    opacity: 0;
}
#gambar3.muncul{
    animation: munculkanan 1s;
}
#badan{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#badan > #tombolkiri, #badan > #tombolkanan{
    height:300px;
    width:300px;
    border-radius: 150%;
    overflow: hidden;
}
#badan > #tombolkanan img{
    height:300px;
    width:300px;

}
#badan > #tombolkiri img{
    height:300px;
    width:300px;
    transform : rotate(180deg);
}
#tombolkanan img:hover{
   transform: scale(90%);
}
body #badan #tombolkiri img:hover{
    transform: scale(90%) rotate(180deg);;
}
.background{
    height:48px;
    width:100%;
    background-color: rgb(80, 143, 194);
    overflow: hidden;
}
.naruto{
    width: 50px;
    height:48px;
    background-image: url(img/naruto.png);
}
.naruto.ras{
    animation: rasengan 1s steps(7) infinite;
}
#rasengan{
    position: absolute;
    height: 48px;
    width: 70px;
    background-image: url(img/naruto.png);
    opacity:0;
}
#rasengan.ras{
    animation: shuriken 1s infinite 0.5s;
}
@keyframes munculkanan{
    0%{
        opacity: 1;
        transform: translateY(-75px) scale(0%);
    }
 
    100%{
        transform: translateX(-600px) scale(100%);
        opacity:0;
    }
}
@keyframes muncultengah{
    0%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes munculkiri{
    0%{
        opacity: 1;
        transform: translateY(-75px) scale(0%);
    
    }
 
    100%{
        transform: translateX(600px) scale(100%);
        opacity:0;
        
    }
}
@keyframes jalankanan{
    0%{
        background-position: -53px 0px;
        transform: translateX(0px);

    }
    100%{
        background-position: -400px 0px;
        transform: translateX(550px);
    }
}
@keyframes jalankiri{
    0%{
        background-position: -53px 0px;
        transform: translateX(550px) rotateY(180deg);
    }
    100%{
        background-position: -400px 0px;
        transform: translateX(0px) rotateY(180deg);
    }
}
@keyframes rasengan{
    0%{
        background-position: 0px 377px;
       
    }
    100%{
        background-position: -385px 377px;
       
    }
}
@keyframes shuriken{
    0%{
        opacity:1;
        background-position: -385px 375px;
        transform: translateX(50px);
    }
    100%{
        opacity: 0;
        background-position: -385px 375px;
        transform: translateX(550px);
    }
}